In [2]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
list1 = [1,2,"ds",1.5]
print(list1)
list2 = list1
print(list2)

list2.append("new") #shared reference or variable aliasing
print(list1)
print(list2)
list3 = list2[:] # shallow copy 
list3.append(12)
print(list2)
print(list3)

list4= list2.copy() #shallow copy 
list4.remove(1)
print(list4)
print(list2)


## shallow copy creates a copy of the compound object however the internal objects refer to the same address
list_1 = [1,2,[3,4,5],6]
list_2 = list_1.copy()
print(list_1)
print(list_2)
list_1.append(7)
print(list_1)
print(list_2)
list_2[2][1] = 9
print(list_1, id(list_1[2]))
print(list_2, id(list_2[2]))

[1, 2, 'ds', 1.5]
[1, 2, 'ds', 1.5]
[1, 2, 'ds', 1.5, 'new']
[1, 2, 'ds', 1.5, 'new']
[1, 2, 'ds', 1.5, 'new']
[1, 2, 'ds', 1.5, 'new', 12]
[2, 'ds', 1.5, 'new']
[1, 2, 'ds', 1.5, 'new']
[1, 2, [3, 4, 5], 6]
[1, 2, [3, 4, 5], 6]
[1, 2, [3, 4, 5], 6, 7]
[1, 2, [3, 4, 5], 6]
[1, 2, [3, 9, 5], 6, 7] 131255274157760
[1, 2, [3, 9, 5], 6] 131255274157760

In [22]:
import copy
list1 = [1,2,[3,4,5,6],7]
list2 = copy.deepcopy(list1)
print(list1, id(list1[2]))
print(list2, id(list2[2]))

list2[2][0]='a'
print(list1, id(list1[2]))
print(list2, id(list2[2]))

[1, 2, [3, 4, 5, 6], 7] 131255274122240
[1, 2, [3, 4, 5, 6], 7] 131255273699840
[1, 2, [3, 4, 5, 6], 7] 131255274122240
[1, 2, ['a', 4, 5, 6], 7] 131255273699840

In [34]:
list1 = [1,2,3,4]
list2 = [i*5  for i in list1]
print(list2)
print(list2[0])
print(list2[-1])
print(list2[-2])
print(list2[::])
print(list2[2:])
print(list2[::2])
print(list2[::-1])
print(list2[::-2])
print(list2[:2])

[5, 10, 15, 20]
5
20
15
[5, 10, 15, 20]
[15, 20]
[5, 15]
[20, 15, 10, 5]
[20, 10]
[5, 10]

In [38]:
from datetime import datetime 
name = input("Enter your name");
time = datetime.now().
print("Hey", name, time)

Enter your name sd

Hey sd 2025-07-17 00:44:40.113410